
  #clockdiv{
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 30px;
  }
  
  #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #CF916B;
    display: inline-block;
  }
  
  #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #30343F;
    display: inline-block;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
  }